/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.8;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0 !important;
}

/* Nav Menu */
body {
    -webkit-animation: bugfix infinite 1s;
    /* needed for checkbox hack */
    background: #fff;
}

/* needed for checkbox hack */
@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

h1, p {
    color: #000;
}

#nav {
    position: relative;
}

#nav ul {
    display: none;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav ul li a {
    display: block;
    padding: 1em;
    background: rgba(69, 69, 182, 0.5);
    color: white;
    text-decoration: none;
    border-right: 1px solid rgba(41, 41, 108, 0.5);
}

#nav ul li a:hover {
    background: rgba(55, 55, 145, 0.5);
}

#nav ul li:last-of-type a {
    border-right: 0px;
}

#nav input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#nav input.trigger:checked ~ ul, #nav input.trigger:checked ~ ul li ul {
    display: block !important;
}

#nav label {
    position: relative;
    display: block;
    min-height: 2em;
    padding: 0.45em;
    font-size: 1.1em;
    margin: 0;
    cursor: pointer;
    background: rgba(69, 69, 182, 0.5);
    line-height: 2em;
    color: #fff;
}

#nav label:after {
    position: absolute;
    right: 1em;
    top: 0.2em;
    content: "\2261";
    font-size: 1.8em;
    color: white;
}

b {
    font-size: 1.5rem;
}

nav span {
    color: #000;
}

/* Header */

header {
    height: 80vh;
    background-color: orange;
    background-image: url(https://s14.postimg.cc/9cvumj6b5/bali-hero2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-ctn {
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.main-title h1 {
    font-size: 2.25rem;
    color: white;
}

.main-title a {
    border-radius: 30px;
    background: #4CB648;
    color: rgba(255, 255, 255, 0.8);
    padding: 14px 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: .9;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857;
}

/* Class Section */

.class-schedule {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.class-schedule h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    color: #000;
}

.class-schedule p {
    margin-bottom: 1.5em;
    font-size: 20px;
    color: #848484;
    font-family: "Roboto", Arial, sans-serif;
}

.class-ctn {
    display: flex;
    flex-wrap: wrap;
}

.class-schedule .class-choice {
    width: 45%;
    margin: 15px auto 30px auto;
    padding: 40px 20px 40px 20px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.class-schedule .class-choice h3 {
    margin: 10px auto;
}

.class-choice img {
width: 40px;
margin: 0 auto 20px auto;
display: block;
}

/* Advertise Section */

.advertise {
    height: 450px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(https://s14.postimg.cc/pwymtitv5/bali-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advertise h1, .advertise p {
    color: #fff;
}

/* Trainers Section */


/* Advertise 2 Section */

.advertise2 {
    height: 450px;
    background-image: url(https://s14.postimg.cc/otj3vh6dd/advertise3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advertise2 .promo-offer {
    height: 100%;
    width: 152px;
    margin-left: 7%;
    padding: 40px;
    background: #222831;
}

.promo-offer h1, .promo-offer p, .promo-offer a {
    color: #fff;
}

.advertise2 .promo-offer h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

.promo-offer p {
    margin-bottom: 20px;
}

.advertise2 .promo-offer a {
    background: #4CB648;
    color: #fff;
    border: none !important;
    border: 2px solid transparent;
    display: inline-block;
    letter-spacing: 2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 0.95rem;
    line-height: 1.42857;
    border-radius: 4px;
}

/* Pricing Section */

.pricing-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(0, 0, 0, 0.1);
}

.pricing-section .container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    color: #000;
}

.pricing-section .container p {
    margin-bottom: 1.5em;
    font-size: 20px;
    color: #848484;
    font-family: "Roboto", Arial, sans-serif;
}

.pricing-section .price-plans .plan {
    width: 94%;
    max-width: 473px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    padding: 30px;
}

.plan h2 {
    font-size: 50px !important;
    color: #6d6d6d !important;
    line-height: 50px;
    margin-bottom: 0px !important;
}

.pricing-section .plan > span {
    margin: 0 0 50px;
    padding: 0;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #888f94;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.pricing-section .plan a.active1 {
    background-color: rgb(76, 182, 72);
    color: #fff;
    transition: all 0.5s ease;
}

.pricing-section .plan a {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.pricing-section .plan a:hover {
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.5s ease;
    color: #fff;
}

.pricing-section .plan {
    transition: all 0.5s ease;
}

.pricing-section .plan:hover {
    box-shadow: 0 10px 15px 0 #000;
    transition: all 0.5s ease;
}

/* Footer */